.screen {
    height: 100px;
    width: 100%;
    background-color: #4357692d;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    
}